name: develop

on:
  push:
    branches:
      - dev
      - develop
env:
  CONTAINER_IMAGE_URL: aaheiev/netshoot
jobs:
  buildx:
    runs-on: ubuntu-latest
    name: Build and Push
    steps:
      - name: Checkout
        uses: actions/checkout@v6

#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v3
#        with:
#          platforms: arm64,amd64
#
#      - name: Set up Docker Buildx
#        id: buildx
#        uses: docker/setup-buildx-action@v3
#
#      - name: Available platforms
#        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Set build version
        run: |
          VERSION=$(cat VERSION)
          BUILD_VERSION="${VERSION}-dev${{ github.run_number }}"
          echo "BUILD_VERSION=$(echo $BUILD_VERSION)" >> $GITHUB_ENV
          echo "BUILD_VERSION=$(echo $BUILD_VERSION)" >> $GITHUB_OUTPUT
          echo "BUILD_VERSION=$(echo $BUILD_VERSION)"
          echo "Build Version: ${BUILD_VERSION}"

      - name: Show version
        run: |
          echo "Build Version: ${{ env.CONTAINER_IMAGE_URL }}:${BUILD_VERSION}"

#      - name: Login docker hub
#        env:
#          DOCKER_USER: ${{ vars.DOCKER_HUB_USER }}
#          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
#        run: |
#            docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

#      - name: Run Buildx
#        run: |
#          docker buildx build \
#            --platform linux/amd64,linux/arm64 \
#            --output "type=image,push=true" \
#            --file ./Dockerfile \
#            --tag aaheiev/netshoot:$BUILD_VERSION \
#            --tag aaheiev/netshoot:dev .
