name: Pre-release

on:
  release:
    types:
      - prereleased

jobs:
  build:
    name: Create Pre-Release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v3
        name: Checkout code

      - name: Set Build Version
        id: version
        run: |
          RELEASE_VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && RELEASE_VERSION=$(echo $RELEASE_VERSION | sed -e 's/^v//')
          VERSION="${RELEASE_VERSION}-rc"
          echo "VERSION=$(echo $VERSION)" >> $GITHUB_ENV
          echo "VERSION=$(echo $VERSION)" >> $GITHUB_OUTPUT
          echo "RELEASE_VERSION=$(echo $RELEASE_VERSION)" >> $GITHUB_ENV         

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

      - name: Login docker hub
        env:
          DOCKER_USER: ${{ vars.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.CONTAINER_IMAGE_URL }}

      - name: Update motd version
        run: |
          sed -i "s/^Version:.*/Version: ${{ env.VERSION }}/" motd

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ vars.CONTAINER_IMAGE_URL }}:${{ env.VERSION }}
          labels: ${{ steps.meta.outputs.labels }}
